<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988689625010-kek114k2eemkvc852gomraroi16u8lon.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988689625010-kek114k2eemkvc852gomraroi16u8lon</string>
	<key>API_KEY</key>
	<string>AIzaSyD90qfP-Fq-8gIPN61Su9FGSViGFhIwhT4</string>
	<key>GCM_SENDER_ID</key>
	<string>988689625010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.murphy</string>
	<key>PROJECT_ID</key>
	<string>murphy-beer</string>
	<key>STORAGE_BUCKET</key>
	<string>murphy-beer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988689625010:ios:aea8993c308c4bb5ce3eab</string>
</dict>
</plist>